{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div
        class="btn-group" >
        <input type="text"  name="name" placeholder="Enter movie name">
        <input type="text"  name="year" placeholder="Enter movie year">

<textarea name="desc" rows="2" cols="47" placeholder="Enter movie description"></textarea >

        <div class="btn btn-primary btn-lg disabled">
        <label><b>Image</b></label>
    <input type="file" name="img">
        </div>

        <input type="submit" class="btn btn-secondary btn-lg">
        </div>





</form>

</div>


{% endblock %}